.small-title-success{
    color: black;
    font-size: 23px;
    border-bottom: 20px;
}

#success-container{
    margin-top: 40px;
    justify-content: center;
    display: flex;
    font-family: 'Trade Gothic W02 Bold Cn 20','sans-serif';
    display: flex;
    margin-bottom: 70px;
}

#success-home-btn{
    background-color: #0073ee;
    margin-top: 40px;
}